.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.container {
	background-color: lightgray;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.sidenav {
	float: left;
	height: 80%;
	padding: 25% 30px;
	margin: 5% 0;
	background-color: gray;
}

.reviews,
.rating,
.analysis {
	height: 300px;
	width: 200px;
	margin: 5% 0;
	background-color: gray;
}

.analysis h3 {
	text-align: center;
}

.visitors {
	position: absolute;
	padding: 5px;
	margin-top: 40%;
	margin-left: 17%;
	width: 60%;
	height: 45%;
	background-color: gray;
}

.insideDiv {
	background-color: lightgray;
	height: 50%;
	margin: 7% 5% 5% 5%;
}
