<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/app.css" type="text/css" />
		<title>Document</title>
	</head>
	<body>
		<ul class="nav">
			<li><a href="/Home/">Home</a></li>
			<li><a href="/history/">Company History</a></li>
			<li><a href="/pastwork/">Past Work</a></li>
			<li><a href="">Staff</a></li>
			<li><a href="">Contacts</a></li>
			<li><a href="">Links</a></li>
		</ul>
		<div class="cards-wrapper">
			<div class="cards">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
					molestiae vitae, dolore dolores officia distinctio hic illo expedita
					doloribus labore quam nesciunt eum quaerat inventore placeat earum,
					qui delectus. Quam nihil amet enim quas expedita, ad, modi beatae
					omnis odit laborum soluta aperiam atque totam dignissimos, eos
					repellat illo neque!
				</p>
			</div>
			<div class="cards">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
					molestiae vitae, dolore dolores officia distinctio hic illo expedita
					doloribus labore quam nesciunt eum quaerat inventore placeat earum,
					qui delectus. Quam nihil amet enim quas expedita, ad, modi beatae
					omnis odit laborum soluta aperiam atque totam dignissimos, eos
					repellat illo neque!
				</p>
			</div>
			<div class="cards">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
					molestiae vitae, dolore dolores officia distinctio hic illo expedita
					doloribus labore quam nesciunt eum quaerat inventore placeat earum,
					qui delectus. Quam nihil amet enim quas expedita, ad, modi beatae
					omnis odit laborum soluta aperiam atque totam dignissimos, eos
					repellat illo neque!
				</p>
			</div>
			<div class="cards">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
					molestiae vitae, dolore dolores officia distinctio hic illo expedita
					doloribus labore quam nesciunt eum quaerat inventore placeat earum,
					qui delectus. Quam nihil amet enim quas expedita, ad, modi beatae
					omnis odit laborum soluta aperiam atque totam dignissimos, eos
					repellat illo neque!
				</p>
			</div>
		</div>
	</body>
</html>
