<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/app.css" />
	</head>
	<body>
		<ul class="nav">
			<li><a href="/history/">Company History</a></li>
			<li><a href="">Past Work</a></li>
			<li><a href="">Staff</a></li>
			<li><a href="">Contacts</a></li>
			<li><a href="">Links</a></li>
		</ul>

		<div class="logo">
			<h1>Welcome to ABC Company</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo
				perspiciatis consequatur itaque magni, atque obcaecati corrupti quidem
				vitae quam aliquam odio doloribus ea dolores quisquam totam nobis
				nostrum beatae necessitatibus amet, eveniet rem? Nihil facere eum nisi
				iste itaque ipsum iusto excepturi est nobis, asperiores aliquid laborum
				a libero maxime error, enim accusantium quam assumenda? Vitae optio
				sapiente, maiores fugiat numquam perspiciatis facilis pariatur? Corporis
				delectus, quaerat aliquid voluptatibus magnam totam libero ad doloremque
				dignissimos, sunt cupiditate dicta optio suscipit voluptate eius eaque
				soluta explicabo odit vero, accusamus ipsa id laudantium itaque? Magni
				perspiciatis rerum, eum temporibus pariatur ratione deserunt maxime quia
				saepe perferendis in esse possimus quasi quae dolore ullam cumque
				assumenda est adipisci similique earum, sint neque. Dignissimos, non
				distinctio? Quam expedita officia porro totam aspernatur nesciunt illum
				obcaecati quibusdam maiores, repudiandae temporibus, sint quo iure, quis
				facere.
			</p>
		</div>

		<div class="cards-wrapper">
			<div class="cards">
				<h2>Something Text</h2>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
					asperiores soluta saepe? Saepe quidem culpa odio numquam fugiat
					repudiandae alias magnam expedita, similique distinctio hic soluta,
					velit facere rerum exercitationem.
				</p>
			</div>

			<div class="cards">
				<h2>Something Text</h2>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
					asperiores soluta saepe? Saepe quidem culpa odio numquam fugiat
					repudiandae alias magnam expedita, similique distinctio hic soluta,
					velit facere rerum exercitationem.
				</p>
			</div>
		</div>
		<footer>
			<h4>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi,
				dolores.
			</h4>
		</footer>
		<!-- <ul>
			<% for(let i = 0; i < 5; i++){ %>
			<li>item number: <%=i%></li>
			<% } %>
		</ul> -->
	</body>
</html>
