<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/app.css" />
	</head>
	<body>
		<ul class="nav">
			<li><a href="/Home/">Home</a></li>
			<li><a href="/history/">Company History</a></li>
			<li><a href="/pastwork/">Past Work</a></li>
			<li><a href="">Staff</a></li>
			<li><a href="">Contacts</a></li>
			<li><a href="">Links</a></li>
		</ul>

		<div class="cards-wrapper">
			<div class="cards">
				<ul>
					<li>
						<a href="#">Something will go here as an example of the text</a>
					</li>
					<li>
						<a href="#"
							>Some sort of text because i don't know what content needs to go
							here</a
						>
					</li>
					<li><a href="#">And this is some example of previous history</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
