.full-app {
  text-align: center;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: center;
}

header {
  width: 100vw;
}

article {
  padding: 5vw;
}

ul {
  list-style-type: none;
  padding: 0;
}

.buttons {
  display: grid;
  place-items: center;
  padding: 5vw;
}

button {
  padding: 1em 2em;
  border-radius: 10px;
  box-shadow: 0 2px 2px black;
}