.flex-container {
    display: flex;
    background-color: #e9ece5;
    width: 90%;
    height: 80vh;
    margin: auto;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    
}
.card {
    color: white;
    background-color: #b3c2bf;
    padding: .5em;
    margin: .3em;
    flex-basis: 1em;
    text-align: center;
}
