body {
	background: #6b2622;
} /*or any color of your choosing*/

.headTitle {
	text-align: center;
	font-size: 70px;
	color: bisque;
	text-transform: uppercase;
	text-shadow: 7px 4px #111106;
}

.name,
.house,
.pet,
.wand {
	color: bisque;
	text-transform: uppercase;
	text-shadow: 2px 4px #111106;
	border: 2px solid white;
	width: 200px;
	text-align: center;
}

.secret {
	opacity: 0.5;
}

.storage {
	list-style-type: none;
}
